@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


$customTheme:mat.define-theme();

@include mat.core();

.custom-theme{
    @include mat.all-component-themes($customTheme);

    //override the button styles

    .mdc-button,.mdc-raised-button,.mdc-stroked-button,.mdc-flat-button{
        @apply rounded-md
    }
}

.container {
    @apply mx-auto max-w-screen-2xl
}

.text-primary {
    color: #7d00fa;
}

button.match-input-height {
    height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch{
    border-right-style: none !important;
}

.snack-error{ //toast for display for user's message
    @include mat.snack-bar-overrides((
        button-color:white,
        container-color:red,
        supporting-text-color:white
    ));
}

.snack-success{ //toast  for display  user's message
    @include mat.snack-bar-overrides((
        button-color:white,
        container-color:green,
        supporting-text-color:white
    ));
}